:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --fill-color: #2F303A;
    --logo-color-header: #000000;
    --logo-color-footer: #FFFFFF;
    --hero-text-color: #FFFFFF;
    --button-text-color: #FFFFFF;
    --potfolio-bg-color: #F5F4FA;
}

body{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

.accent {
    color: var(--accent-color);
}

.logo-header {
    color: var(--logo-color-header);
}

/* Пока оставляю в футере слово Studio тоже в черном цвете (позже сменить на белый цвет как в макете) */

.logo-footer {
    color: var(--logo-color-header);
}

/* Навигация */

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* Контакты шапки*/

.header-nav .link-contact {
    color: var(--primary-text-color);
}

.header-nav .link-contact:hover,
.header-nav .link-contact:focus,
.footer-nav .link-contact:hover,
.footer-nav .link-contact:focus {
    color: var(--accent-color);
}

/* Контакты футера */

.footer-nav .link-contact{
    color: var(--primary-text-color);
}


/* Герой */

.hero-title {
    color: var(--hero-text-color);
}

.hero .main-button:hover,
.hero .main-button:focus {
    color: var(--primary-bg-color);
}

.main-button {
    color: var(--button-text-color);
    background-color: var(--accent-color);
}

/* Секции */

.section-title {
    color: var(--title-text-color);
}

/* Особенности и преимущества */

    .advantage-title {
        color: var(--primary-text-color);
    }

/* Команда */

.name {
    color: var(--title-text-color);
}
.position {
    color: var(--primary-text-color);
}

/* Стиль кнопок фильтра */

.port-btn {
    color: var(--title-text-color);
    background-color: var(--potfolio-bg-color);
}

.filter .port-btn:hover,
.filter .port-btn:focus {
    color: var(--button-text-color);
    background-color: var(--accent-color);
}







