:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --fill-color: #2F303A;
    --logo-color-header: #000000;
    --logo-color-footer: #FFFFFF;
    --hero-text-color: #FFFFFF;
    --button-text-color: #FFFFFF;
    --potfolio-bg-color: #F5F4FA;
}

body{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size  : 26px;
    line-height: 1,19;
}

ul {
    list-style: none;
}

.accent {
    color: var(--accent-color);
}

.logo-header {
    color: var(--logo-color-header);
}

/* Пока оставляю в футере слово Studio тоже в черном цвете (позже сменить на белый цвет как в макете) */

.logo-footer {
    color: var(--logo-color-header);
}

/* Навигация */

.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size  : 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* Контакты шапки*/

.header-nav .link-contact {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size  : 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}

.header-nav .link-contact:hover,
.header-nav .link-contact:focus,
.footer-nav .link-contact:hover,
.footer-nav .link-contact:focus {
    color: var(--accent-color);
}

/* Контакты футера */

.footer-nav .link-contact{
    color: var(--primary-text-color);
}

/* Студия */

/* Герой */

.hero-title {
    /* Цвет позже поменять на белый */
    color: var(--title-text-color);
    font-weight: 900;
    font-size  : 44px;
    line-height: 1,36;
    text-align    : center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.main-btn {
    color: var(--button-text-color);
    background-color: var(--accent-color);

    font-weight: bold;
    font-size  : 16px;
    line-height: 1,87;
    letter-spacing: 0.06em;

    width   : 200px;
    height  : 50px;
    left    : 700px;
    top     : 430px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero .main-btn:hover,
.hero .main-btn:focus {
    color: var(--primary-bg-color);
}

/* Секции */

.section-title {
    color: var(--title-text-color);
}

/* Особенности и преимущества */

    .featur-title {
        color: var(--primary-text-color);
        font-size  : 14px;
        line-height: 1,71;
        letter-spacing: 0.03em;
    }

    h2 {
        color: var(--title-text-color);
        font-weight: bold;
        font-size  : 36px;
        line-height: 42px;
        text-align : center;
        letter-spacing: 0.03em;
    }

    h3 {
        color: var(--title-text-color);
        font-weight: 500;
        font-size  : 16px;
        line-height: 1,87;
        letter-spacing: 0.03em;
    }

    h4 {
        color       : var(--primary-text-color);
        font-weight : bold;
        font-size   : 14px;
        line-height : 1,14;
        letter-spacing: 0.03em;
    }

/* Команда */

.name {
    color: var(--title-text-color);
}
.position {
    color: var(--primary-text-color);
    font-size  : 16px;
    line-height: 1,87;
    letter-spacing: 0.03em;
}

/* Портфолио */

/* Стиль кнопок фильтра */

.port-btn {
    color: var(--title-text-color);
    background-color: var(--potfolio-bg-color);
    font-family: inherit;
}

.filter .port-btn:hover,
.filter .port-btn:focus {
    color: var(--button-text-color);
    background-color: var(--accent-color);
}

.project {
    color: var(--title-text-color);
}

.project-name {
    color: var(--primary-text-color);
}







